ul.projects {
    padding: 0;
}

ul.paginate-links {
    display: flex;
    list-style: none;
    border-radius: 6px;
    padding: 0;
    margin-bottom: 40px;
    max-width: 80vw;
    flex-wrap: wrap;
}

ul.paginate-links > li {
    display: flex;
    flex-grow: 1;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    align-items: center;
    justify-content: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: .25s ease;
        border-top: 1px solid #003b6f;
        border-left: 1px solid #003b6f;
        border-bottom: 1px solid #003b6f;
        border-right: 1px solid #003b6f;
    }
    
    
    a:hover {
        background: #003b6f;
        color: white !important;
    }
}

ul.paginate-links > li:first-child {
    a:first-child {
        border-left: 1px solid #003b6f;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }
}

ul.paginate-links > li:last-child {
    a:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}

ul.paginate-links > li.active {
    background: #003b6f;

    a {
        color: white !important;
    }
}

ul.paginate-links > li.left-arrow > a, ul.paginate-links > li.right-arrow > a {
    background: #00203b;
    color: white !important;
}

* {
    box-sizing: border-box;
}

div.container-projetos{

    a{
        color: #003b6f !important;
        text-decoration: none;
    }
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15vh;

    @media (max-aspect-ratio: 1/1) {
        padding-top: 20vw;
    }

    div.projeto{
        width: 100%;
        display: flex;
        margin-bottom: 50px;
        padding: 40px;

        @media (max-aspect-ratio: 1/1) {
            flex-direction: column !important;
        }
        
        * {
            margin-bottom: 15px;
        }
        
        .showcase{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 20%;

            @media (max-aspect-ratio: 1/1) {
                width: 100%;
            }

            .showcase-image{

                height: 10vw;
                width: 10vw;
                border-radius: 100vw;
                border: 2px solid #003b6f;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                @media (max-aspect-ratio: 1/1) {
                    width: 80vw;
                    height: 80vw;
                }

                a {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 0 !important;

                    img{
                        width: auto;
                        height: 100%;
                        margin: 0 !important;
                    }
                }

            }
        }
    }

    div.description{
        width: 70%;

        @media (max-aspect-ratio: 1/1) {
            width: 100%;
        }

        .labels{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            
            .label{
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                margin-right: 10px;

                @media (max-aspect-ratio: 1/1) {
                    flex-wrap: wrap;
                }

                .label-title{
                    border-radius: 6px;
                    padding: 10px;
                    color: white;
                }
            }
        }
    }

    .loading{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-aspect-ratio: 1/1) {
            width: 80%;
        }
    }

    div.search-container{
        
        width: 100%;
        background-image: url(./../img/topbanner.png);
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        padding: 100px;

        @media (max-aspect-ratio: 1/1) {
            padding: 30px;
        }

        div.search-bar{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;

            @media (max-aspect-ratio: 1/1) {
                width: 90%;
                flex-direction: column;
            
                button{
                    margin-bottom: 8px;
                    margin-top: 8px;
                }
            }


            div.input-group{
                flex-wrap: nowrap;
                width: 100%;
                margin-bottom: 0px !important;
                margin-right: 10px;

                @media (max-aspect-ratio: 1/1) {
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 0 !important;
                }

                input{
                    padding: 10px;
                    border: 2px solid #fff;
                    border-radius: 8px;
                    background: transparent;
                    color: white;
                    height: 100%;
                    width: 100%;
                }

                ::placeholder{
                    color: white;
                }

                input:focus{
                    outline: none;
                }

                label{
                    padding: 10px;
                    border: 2px solid #fff;
                    color: #fff;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    border-left: none;
                    height: 100%;
                    width: 20%;
                }
            }

            .tags-buttons{
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                margin-right: 10px;
                border-radius: 6px;
                padding: 10px;
                color: white;
                cursor: pointer;
                transition: .25s ease;
                border: none;

                @media (max-aspect-ratio: 1/1) {
                    margin-bottom: 5px;
                    margin-right: 0px;
                    width: 100%;
                }
            }
        }
    }
}

div.readme{
    padding: 40px;
    h2, h3{
        margin-top: 40px;
    }
}

div.sorry{
    padding: 30px;

    img{
        width: 20vw;
        height: auto;
    }
}