// $font-primary: 

$top-layer: 5;
$not-so-top-layer: 4;

$primary-color: #003b6f;

$hamburger-layer-width: 40px !default;
$hamburger-layer-height: 4px !default;
$hamburger-layer-color: #fff !default;